<!DOCTYPE html>
<html>
  <head>
    <title>Stockshunter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Stocks Hunter</a>
        </div>
        <p class="navbar-text navbar-right">
          <%= t('.last_quotation_at', quotation_at: Quotation.last_quotation_at) %>
        </p>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
